<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="dbms" connectionString="Data Source=DESKTOP-L5B8JV8\MSSQLSERVER02;Initial Catalog=FashionAdda;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0"/>


		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" />
	</system.web>
</configuration>